@using Domain.Entities
@model IEnumerable<Category>

@{ 
    bool horizontal = (bool)(ViewContext.RouteData.Values["horizontalNav"] ?? false);
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
    string styles = horizontal ? null : "margin-left: 10px";
}


<div class="@wrapperClasses" style="@styles">
    @Html.ActionLink("Все товары", "List", "Products", null,
    new
    {
        @class = horizontal ? "btn btn-default btn-sm" :
        "btn btn-block btn-default btn-lg"
    })

    @foreach (var category in Model)
    {
        @Html.RouteLink(category.Name, new
       {
           controller = "Products",
           action = "List",
           category = category.CategoryId,
           page = 1
       }, new
       {
           @class = (horizontal ? "btn btn-default btn-sm" :
           "btn btn-block btn-default btn-lg")
           + (category.CategoryId == ViewBag.SelectedCategory ? " btn-primary" : "")
       })
    }
</div>