@using Domain.Entities
@model IEnumerable<Product>

<div class="well" style="margin-right: 10px; padding-top: 0">
    <div class="row">

        <h3 style="text-align: center">
            <b>Популярные товары</b>
        </h3>

        @foreach (var product in Model)
        {
            <div class="col-xs-6">
                <img class="img-thumbnail" width="50" height="50"
                     src="@Url.Action("GetImage", "Products",
                    new { product.ProductId })" />
            </div>
            <div class="col-xs-6">
                <h4>
                    <strong id="price" class="pull-right label label-primary">
                        @product.Price.ToString("# грн")
                    </strong>
                </h4>
            </div>

            <div style="clear: both">
                <h5>
                    @product.Name
                </h5>
            </div>
        }

    </div>
</div>
