@using WebUI.Models
@model IEnumerable<ProductSmallViewModel>

<div class="well" style="margin-right: 10px; padding-top: 0">
    <div class="row">

        <h3 style="text-align: center">
            <b>Популярные товары</b>
        </h3>

        @foreach (var product in Model)
        {
            <div class="col-xs-6">
                @if (!string.IsNullOrEmpty(product.ImagePath))
                {
                    <img class="img-thumbnail" width="50" height="50"
                         src="@product.ImagePath"/>
                }
            </div>

            <div class="col-xs-6">
                <h4>
                    <strong id="price" class="pull-right label label-primary">
                        @product.Product.Price.ToString("# грн")
                    </strong>
                </h4>
            </div>

            <div style="clear: both">
                <h5>
                    @Html.ActionLink(product.Product.Name, "GetProduct", new { productId = product.Product.ProductId, returnUrl = Request.Url.PathAndQuery })
                </h5>
            </div>
        }

    </div>
</div>
